#bubble {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

}

.info {
    padding-bottom: 2em;
}

.page-two>div>h1, .page-two>div>h2, .page-two>div>p {
    padding-bottom: 0;
}

.page-two {
    text-align: left;
    margin: 3rem 2rem;
}