main#page-five {
    /* center the content vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

#copy {
    max-width: 800px;
    text-align: left;
    padding-bottom: 2rem;
}

#granim-canvas {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}